thead
{
    background-color: #fbcb09;
}

td, th{
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    width: 150px;
}

tr.bottom{
    background-color: #dddddd;
}

div.submit, div.section, div.error{
    padding-top: 5px;
}

.form-div {
        width: 500px;
        clear: both;
}
.form-div input {
        width: 100%;
        clear: both;
}

.error{
    color: red;
}

.menu{
    background-color: black;
    color: white;
    font-weight: bold;
}